=========================

Welcome to Mira

At the moment the maximum file size is: {{ maximumFileSize }}

To upload a file use the following command:
------------------------------------------------------------
curl {{baseUrl}} -F "file=@your_file"
------------------------------------------------------------

=========================
