<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mira - Ephemeral File Upload from Command Line</title>
    <meta name="description" content="Mira is an open-source ephemeral file upload tool from the command line. Upload and share files hassle-free, similar to bashupload.com but open source and faster.">
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Mira - Ephemeral File Upload</h1>
    </header>
    <p><strong>Mira</strong> is an ephemeral file upload from the command line. It is handy for uploading config files
        to transfer from one server/machine to another hassle-free.
        Similar to Bash Upload (bashupload.com) but open source and faster!
    </p>
    <p>The files will be removed after <strong>24 hours</strong>. At the moment the <strong>maximum</strong> file size is: <strong>{{ maximumFileSize }}</strong></p>
    <section class="code-box-container">
        <pre class="code-box" data-clipboard-text>curl http://localhost:8080 -F "file=@your_file"</pre>
        <span class="tooltip">copied!</span>
    </section>
    <p>Alternatively, you can upload via browser: <a href="#" id="upload-link">choose file</a><input type="file" id="file-input" style="display: none;" multiple></p>
    <hr class="content-separator hidden">
    <ul id="file-list"></ul>
</div>
<script src="/script.js"></script>
</body>
</html>