<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mira file upload</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<div class="container">
    <header class="header">
        <h1>Mira file upload</h1>
    </header>
    <p><strong>Mira</strong> is an ephemeral file upload from the command line. It is handy for uploading config files to transfer from one server/machine to another hassle-free. The files will be removed after 24 hours.</p>
    <section class="code-box-container">
        <pre class="code-box" data-clipboard-text>curl http://localhost:8080 -F "file=@your_file"</pre>
        <span class="tooltip">copied!</span>
    </section>
    <p>Alternatively, you can upload via browser: <a href="#" id="upload-link">choose file</a><input type="file" id="file-input" style="display: none;" multiple></p>
    <hr class="content-separator hidden">
    <ul id="file-list"></ul>
</div>
<script src="/script.js"></script>
</body>
</html>