=========================

Welcome to Mira

Mira is an ephemeral file upload from the command line. It is handy for uploading config files to transfer from one server/machine to another hassle-free. Similar to Bash Upload (bashupload.com) but open source and faster! The files will be removed after 24 hours.

To upload a file use the following command:
------------------------------------------------------------
curl {{baseUrl}} -F "file=@your_file"
------------------------------------------------------------

=========================
