<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mira file upload</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
<header class="header">
    <h1>Mira file upload</h1>
</header>
<div class="container">
    <p><strong>Mira</strong> is an ephemeral file upload from command line. It is handy to upload config files to transfer from one machine to another machine hassle free. The files will be removed after 24h.</p>
    <section class="code-box-container">
        <pre class="code-box" data-clipboard-text>curl -F "file=@your_file" http://localhost:8080</pre>
        </pre>
        <span class="tooltip">copied!</span>
    </section>
    <form action="/" method="post" enctype="multipart/form-data">
        <p>Alternative you can upload via browser, <a href="#" id="upload-link">choose file</a><input type="file" id="file-input" style="display: none;" multiple></p>
    </form>
</div>
<script src="/script.js"></script>
</body>
</html>