=========================

Welcome to Mira

To upload a file use the following command:
------------------------------------------------------------
curl {{baseUrl}} -F "file=@your_file"
------------------------------------------------------------

=========================
